


.all{
    display: flex; 
    gap:25px ;
    justify-content: space-around;
    justify-content: left;
    margin-top: 29px;
    flex-wrap: wrap;
}




body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    margin: 0;
}


.card {
    background-color: #fff;
    width: 300px;
    height: 660px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 40px;
 

    
}


.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-body {
    padding: 20px;

}


.card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}


.card-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 2;

}


.card-button {
    padding: 15px 20px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.card-button:hover {
    background-color: #0056b3;
    color: #f4f4f4;
    transition: all 1s ease-in-out;
}





.card1 {
    background-color: #fff;
    width: 300px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    overflow: hidden;
 

    
}


.card-image1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-body1 {
    font-family: "librebaskerville-bold", serif;
    color: #000000;
    font-size: 2.4rem;

}


.card-title1{
    font-size: 120px;
    text-align: center;
    color: #555;
    margin-top: 0px;
}


.card-description1 {
    font-family: "librebaskerville-bold", serif;
    color: #000000;
    padding: 7.8rem 0 0 0;
    margin-bottom: 3.3rem;
    font-size: 19px;
    line-height: 1.8;
}


.card-button1 {
    padding: 15px 20px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.card-button1:hover {
    background-color: #0056b3;
    color: #f4f4f4;
    transition: all 1s ease-in-out;
}



.card2 {
    background-color: #fff;
    width: 350px;
    height: 660px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 15px;
 

    
}


.card-image2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-body2 {
    padding: 20px;

}


.card-title2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}


.card-description2 {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 2;

}


.card-button2 {
    padding: 15px 20px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.card-button2:hover {
    background-color: #0056b3;
    color: #f4f4f4;
    transition: all 1s ease-in-out;
}


.card3 {
    background-color: #fff;
    width: 350px;
    height: 660px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 15px;
 

    
}


.card-image3 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-body3 {
    padding: 20px;

}


.card-title3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}


.card-description3 {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 2;

}


.card-button3 {
    padding: 15px 20px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.card-button3:hover {
    background-color: #0056b3;
    color: #f4f4f4;
    transition: all 1s ease-in-out;
}




.card4{
    background-color: #fff;
    width: 300px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 40px;

 

    
}


.card-image4 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-body4 {
    padding: 20px;

}


.card-title4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}


.card-description4 {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 2;

}

                                                                            
.card-button4 {
    padding: 15px 20px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.card-button4:hover{
    background-color: #0056b3;
    color: #f4f4f4;
    transition: all 1s ease-in-out;
}






.card5{
    background-color: #fff;
    width: 300px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 40px;
    bottom: 100px;

 

    
}


.card-image5 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    left: 33.3333%;
    top: 559px;
}


.card-body5 {
    padding: 20px;

}


.card-title5 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}


.card-description5 {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 2;

}

                                                                            
.card-button5{
    padding: 15px 20px;
    background-color: #ffffff;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
   
}

.card-button5:hover{
    background-color: #0056b3;
    color: #f4f4f4;
    transition: all 1s ease-in-out;
}